<form method="POST" id="delete-form">
    {% csrf_token %}
    <p>Are you sure that you want to delete "{{object}}"?</p>
    <input type="submit" value="Confirm">
    <button type="button" id="cancel-button" onclick="cancel()">Cancel</button>
</form>

<script>
    function cancel(){
        document.getElementById("delete-form").action = "{% url 'shorten_url:main' %}";
        document.getElementById("delete-form").method = "GET";
        document.getElementById("delete-form").submit();
    }
</script>
