<a href="{% url 'shorten_url:create'%}">
  <button>
    Create new shorten_url
  </button>
</a>
<br>
<br>

<form method="Post">
    {%csrf_token%}
{% if list_of_short_url%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/table.css' %}">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Shorten url</th>
            <th>Create date</th>
            <th>Last edited</th>
            <th>Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for url in list_of_short_url %}
            <tr class="active-row">
            <td> <a href="{% url 'shorten_url:detail' url.pk %}">{{ url.url }} </a></td>
            <td>{{ url.create_date }}</td>
            <td>{{ url.last_edit_date }}</td>
            <td>{{ url.counter }}</td>
            <td><input type="radio" value= "{{ url.pk }}" name="choice"></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
      <input type="submit" value="Delete" name="action">
      <input type="submit" value="Change" name="action">

{% else %}
    <p>There is no shorten url exist.</p>
{% endif %}
</form>
