<a href="{% url 'shorten_url:create'%}">
  <button>
    Create new shorten_url
  </button>
</a>
<br>
<br>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<form method="Post">
    {%csrf_token%}
{% if list_of_short_url%}
    <table>
        <tr>
            <th>Shorten url</th>
            <th>Count</th>
            <th>Change/Delete</th>
        </tr>
        {% for url in list_of_short_url %}
            <tr>
            <td> <a href="{% url 'shorten_url:detail' url.pk %}">{{ url.url }} </a></td>
            <td>{{ url.counter }}</td>
            <td><input type="radio" value= "{{ url.pk }}" name="choice"></td>
            </tr>
    {% endfor %}
    </table>
    <br>
      <input type="submit" value="Delete" name="action">
      <input type="submit" value="Change" name="action">

{% else %}
    <p>There is no shorten url exist.</p>
{% endif %}
</form>