{% load static %}

<form>
    {%csrf_token%}
{% if list_of_short_url%}
    <link rel="stylesheet" href="{% static 'myapp/table.css' %}">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Shorten url</th>
            <th>Create date</th>
            <th>Last edited</th>
            <th>Count</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for url in list_of_short_url %}
            <tr class="active-row">
            <td> <a href="{% url 'shorten_url:detail' url.pk %}">{{ url.url }} </a></td>
            <td>{{ url.create_date }}</td>
            <td>{{ url.last_edit_date }}</td>
            <td>{{ url.counter }}</td>
            <td>
                <div style="display: flex;align-items: center">
                    <a href="{% url 'shorten_url:delete' url.pk %}"><img src="{% static 'myapp/Delete.png' %}" width="40" height="40"></a>
                    <a href="{% url 'shorten_url:update' url.pk %}" style="margin-left: 4px"><img src="{% static 'myapp/Modify.png' %}" width="30" height="30"></a>
                </div>
            </td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>There is no shorten url exist.</p>
{% endif %}
</form>
<a href="{% url 'shorten_url:create'%}">
  <img src="{% static 'myapp/Add.png' %}">
</a>